/.idea/
/.vscode/
/05-virt-04-docker-compose/worker/
/05-virt-05-docker-swarm/worker/
/06-db-02-sql/vm/vagrant/.vagrant/
/06-db-03-mysql/vm/vagrant/.vagrant/
/06-db-04-postgresql/vm/vagrant/.vagrant/
/06-db-05-elasticsearch/vm/vagrant/.vagrant/
/06-db-05-elasticsearch/vm/beta
/06-db-05-elasticsearch/vm/ansible/stack/elasticsearch-8.2.0-linux-x86_64.tar.gz
/06-db-05-elasticsearch/vm/ansible/stack/elasticsearch-8.2.0-linux-x86_64.tar.gz.sha512
/06-db-06-troobleshooting/vm/vagrant/.vagrant/
/06-db-06-troobleshooting/vm/beta/
/07-terraform-02-syntax/src/terraform/key.json
/07-terraform-02-syntax/src/terraform/.terraform/
/07-terraform-03-basic/worker/
/07-terraform-03-basic/src/terraform/key.json
/07-terraform-03-basic/src/terraform/.terraform/
/07-terraform-03-basic/src/terraform/static.key
/07-terraform-03-basic/src/packer/key.json
/07-terraform-04-teamwork/vm/vagrant/.vagrant/
/07-terraform-04-teamwork/vm/ansible/stack/terraform
/07-terraform-04-teamwork/vm/ansible/stack/atlantis.var
/07-terraform-02-syntax/src/terraform/.terraform.lock.hcl
/07-terraform-03-basic/src/terraform/.terraform.lock.hcl
/07-terraform-02-syntax/src/terraform/terraform.tfstate
/07-terraform-02-syntax/src/terraform/terraform.tfstate.backup
/08-ansible-01-base/src/vagrant/.vagrant/
/08-ansible-02-playbook/src/vagrant/.vagrant/
/08-ansible-03-yandex/src/vagrant/.vagrant/
